In [168]:
import pandas as pd
from datetime import date
today = date.today()
import math

In [169]:
url_result = '../data/result.csv'
url_consoles = '../data/consoles.csv'

In [170]:
df_score = pd.read_csv(url_result, sep = ',',  quotechar='"')

In [171]:
df_companies = pd.read_csv(url_consoles, sep = ',')

In [172]:
df = df_score.join(df_companies.set_index('console'), on='console')
df = df.rename(columns={'name':'name_game'})

In [130]:
namegame = list()
console = list()
score = list()
company = list()

for i in df_companies['console']:
    df_res = df.query(f"""console == '{i}'""")
    df_res = df_res.query('userscore != "tbd"')
    df_res = df_res.sort_values('metascore', ascending = False).head(10)
    for index, row in df_res.iterrows():
        namegame.append(row.name_game)
        console.append(row.console)
        score.append(row.metascore)
        company.append(row.company)

df_resultado = pd.DataFrame({'name_game': namegame, 'name_console': console, 'score': score, 'name_company': company})

df_resultado.to_csv('mejores10juegos_consola_empresa_'+str(today)+'.csv', sep="|", index = False)

In [132]:
namegame = list()
console = list()
score = list()
company = list()

for i in df_companies['console']:
    df_res = df.query(f"""console == '{i}'""")
    df_res = df_res.query('userscore != "tbd"')
    df_res = df_res.sort_values('metascore').head(10)
    for index, row in df_res.iterrows():
        namegame.append(row.name_game)
        console.append(row.console)
        score.append(row.metascore)
        company.append(row.company)

df_resultado = pd.DataFrame({'name_game': namegame, 'name_console': console, 'score': score, 'name_company': company})

df_resultado.to_csv('peores10juegos_consola_empresa_'+str(today)+'.csv', sep="|", index = False)

In [162]:
namegame = list()
console = list()
score = list()
company = list()

for i in df_companies['console']:
    df_res = df.query(f"""console == '{i}'""")
    df_res = df_res.query('userscore != "tbd"').sort_values('metascore', ascending = False)
    score_users = list()
    for j in df_res['metascore'].unique():
        if len(score_users) == 10:
            break
        else:
            score_users.append(j)
    df_res = df_res.query(f'metascore >= {min(score_users)} and metascore <= {max(score_users)}').sort_values('metascore', ascending = False)
        
    #df_res = df_res.query('max_rank <= 30.0').sort_values('max_rank')    
    #df_res['max_rank'] = df_res['userscore'].rank(method='max', ascending = False)
    #df_res['ranking'] = df_res['max_rank'].rank(method='min')
    #df_res = df_res.query('max_rank <= 30.0').sort_values('max_rank')

In [163]:
df_res.head(100)

,metascore,name_game,console,userscore,date,company
200,98,Red Dead Redemption 2,XONE,5.9,"Oct 26, 2018",Microsoft
56,97,Grand Theft Auto V,XONE,7.8,"Nov 18, 2014",Microsoft
481,95,Metal Gear Solid V: The Phantom Pain,XONE,7.4,"Sep 1, 2015",Microsoft
203,94,Celeste,XONE,6.4,"Jan 26, 2018",Microsoft
290,93,INSIDE,XONE,8.2,"Jun 29, 2016",Microsoft
205,93,Divinity: Original Sin II - Definitive Edition,XONE,7.5,"Aug 31, 2018",Microsoft
360,92,What Remains of Edith Finch,XONE,7.4,"Jul 19, 2017",Microsoft
206,92,Forza Horizon 4,XONE,7.7,"Sep 28, 2018",Microsoft
212,91,Dead Cells,XONE,8,"Aug 7, 2018",Microsoft
294,91,Overwatch,XONE,5.8,"May 23, 2016",Microsoft
525,91,The Witcher 3: Wild Hunt,XONE,9.2,"May 19, 2015",Microsoft
295,91,Forza Horizon 3,XONE,8,"Sep 23, 2016",Microsoft
217,90,NieR: Automata - Become as Gods Edition,XONE,9,"Jun 26, 2018",Microsoft
218,90,Monster Hunter: World,XONE,7.2,"Jan 26, 2018",Microsoft
300,90,NBA 2K17,XONE,6,"Sep 16, 2016",Microsoft
328,89,Stardew Valley,XONE,7.7,"Dec 14, 2016",Microsoft
535,89,Dark Souls II: Scholar of the First Sin,XONE,7.7,"Apr 7, 2015",Microsoft
403,89,Injustice 2,XONE,8.2,"May 16, 2017",Microsoft
580,89,Destiny: The Taken King,XONE,5.2,"Sep 15, 2015",Microsoft
333,88,Dishonored 2,XONE,7.2,"Nov 10, 2016",Microsoft
584,88,Divinity: Original Sin Enhanced Edition,XONE,7.7,"Oct 27, 2015",Microsoft
406,88,N++,XONE,5.2,"Oct 4, 2017",Microsoft
408,88,Wolfenstein II: The New Colossus,XONE,6.2,"Oct 27, 2017",Microsoft
433,88,Okami HD,XONE,8.3,"Dec 12, 2017",Microsoft
332,88,Ori and the Blind Forest: Definitive Edition,XONE,7.6,"Mar 11, 2016",Microsoft
581,88,Fallout 4,XONE,6.4,"Nov 10, 2015",Microsoft
23,88,FIFA 14,XONE,5.8,"Nov 19, 2013",Microsoft
587,88,Ori and the Blind Forest,XONE,8.6,"Mar 11, 2015",Microsoft
240,88,Hellblade: Senua's Sacrifice,XONE,7.2,"Apr 11, 2018",Microsoft
231,88,Call of Duty: Black Ops 4,XONE,4.7,"Oct 12, 2018",Microsoft
229,88,The Banner Saga 3,XONE,7.8,"Jul 26, 2018",Microsoft
106,88,Minecraft: Xbox One Edition,XONE,6.7,"Nov 18, 2014",Microsoft
107,88,Guacamelee! Super Turbo Championship Edition,XONE,7,"Jul 2, 2014",Microsoft

In [85]:
namegame = list()
console = list()
score = list()
company = list()

for i in df_companies['console']:
    df_res = df.query(f"""console == '{i}'""")
    df_res = df_res.query('userscore != "tbd"')
    df_res['min_rank'] = df_res['userscore'].rank(axis = 0, method='min', numeric_only=None)
    df_res = df_res.query('min_rank <= 10.0').sort_values('min_rank')

In [86]:
df_res.head(30).sort_values('ranking')

,metascore,name_game,console,userscore,date,company,min_rank,ranking
14553,32,Ghostbusters,XONE,0.4,"Jul 12, 2016",Microsoft,1.0,1.0
14214,66,Star Wars Battlefront II,XONE,0.9,"Nov 17, 2017",Microsoft,2.0,2.0
15315,57,Destiny 2: Curse of Osiris,XONE,1,"Dec 5, 2017",Microsoft,3.0,3.0
13378,52,Extinction,XONE,1.2,"Apr 10, 2018",Microsoft,4.0,4.0
693,85,NBA 2K18,XONE,1.5,"Sep 15, 2017",Microsoft,5.0,5.0
13405,42,Tennis World Tour,XONE,1.6,"May 22, 2018",Microsoft,6.0,6.0
7742,75,Chime Sharp,XONE,1.7,"Feb 24, 2017",Microsoft,7.0,7.0
10918,71,Minecraft: Story Mode Season Two - Episode 1: ...,XONE,1.7,"Jul 11, 2017",Microsoft,7.0,7.0
2245,82,FIFA 19,XONE,2.1,"Sep 25, 2018",Microsoft,9.0,9.0
12428,62,Metal Gear Survive,XONE,2.1,"Feb 20, 2018",Microsoft,9.0,9.0
14075,39,Tony Hawk's Pro Skater 5,XONE,2.1,"Sep 29, 2015",Microsoft,9.0,9.0
14499,53,Super Dungeon Bros,XONE,2.1,"Nov 1, 2016",Microsoft,9.0,9.0

In [152]:
namegame = list()
console = list()
score = list()
company = list()


# se quitan valores de textos conocidos que estan dentro del userscore
df_res = df_res.query('userscore != "tbd"').sort_values('metascore', ascending = False)
score_users = list()
for j in df_res['metascore'].unique():
    if len(score_users) == 10:
        break
    else:
        score_users.append(j)
df_res = df_res.query(f'metascore >= {min(score_users)} and metascore <= {max(score_users)}').sort_values('metascore', ascending = False)

for index, row in df_res.iterrows():
    namegame.append(row.name_game)
    console.append(row.console)
    score.append(row.metascore)
    company.append(row.company)

# creacion de dataframe con el total de informacion
df_resultado = pd.DataFrame({'name_game': namegame, 'name_console': console, 'score': score, 'name_company': company})

In [154]:
print(score_users)

[43, 42, 39, 38, 36, 35, 34, 32, 30, 23]

In [158]:
for i in df_companies['console']:
    df_res = df.query(f"""console == '{i}'""")
    # se quitan valores de textos conocidos que estan dentro del userscore
    df_res = df_res.query('userscore != "tbd"').sort_values('metascore')
    score_users = list()
    for j in df_res['metascore'].unique():
        if len(score_users) == 10:
            break
        else:
            score_users.append(j)
    df_res = df_res.query(f'metascore >= {min(score_users)} and metascore <= {max(score_users)}').sort_values('metascore', ascending = False)

    for index, row in df_res.iterrows():
        namegame.append(row.name_game)
        console.append(row.console)
        score.append(row.metascore)
        company.append(row.company)
    df_resultado = pd.DataFrame({'name_game': namegame, 'name_console': console, 'score': score, 'name_company': company})

In [159]:
df_resultado.head(100)

,name_game,name_console,score,name_company
0,Funk of Titans,XONE,43,Microsoft
1,Tennis World Tour,XONE,42,Microsoft
2,Hello Neighbor,XONE,42,Microsoft
3,Tony Hawk's Pro Skater 5,XONE,39,Microsoft
4,Project Root,XONE,38,Microsoft
...,...,...,...,...
95,Pokemon White Version,DS,87,Nintendo
96,The Legend of Zelda: Spirit Tracks,DS,87,Nintendo
97,Pokemon HeartGold Version,DS,87,Nintendo
98,Pokemon SoulSilver Version,DS,87,Nintendo
99,Dragon Quest IX: Sentinels of the Starry Skies,DS,87,Nintendo

In [231]:
namegame = list()
console = list()
score = list()
company = list()

# se recorre dataframe df_companies para obtener los valores unicos de consolas e ir filtrando en lam iteracion

df_res = df.query('userscore != "tbd"').sort_values(['metascore'], ascending = False)
df_res['ranking'] = df_res['metascore'].rank(method='min', ascending = False)
df_res = df_res.sort_values('ranking', ascending = True).rename(columns={'console':'name_console', 'metascore':'score', 'company': 'name_company'})
df_res = df_res.query("ranking <= 10")
df_res.to_csv('mejores10juegos_'+str(today)+'.csv', sep="|", index = False)

In [232]:
df_res.head(100)

,score,name_game,name_console,userscore,date,name_company,ranking
200,98,Red Dead Redemption 2,XONE,5.9,"Oct 26, 2018",Microsoft,1.0
1300,98,Grand Theft Auto IV,PS3,7.5,"Apr 29, 2008",Sony,1.0
1301,98,Grand Theft Auto IV,X360,7.9,"Apr 29, 2008",Microsoft,1.0
1400,98,Tony Hawk's Pro Skater 2,PS,7.4,"Sep 20, 2000",Sony,1.0
201,97,Red Dead Redemption 2,PS4,7.7,"Oct 26, 2018",Sony,5.0
2300,97,Metroid Prime,GC,9.2,"Nov 17, 2002",Nintendo,5.0
321,97,The Legend of Zelda: Breath of the Wild,Switch,8.5,"Mar 3, 2017",Nintendo,5.0
1002,97,Halo: Combat Evolved,XBOX,8.6,"Nov 14, 2001",Microsoft,5.0
1001,97,Grand Theft Auto III,PS2,8.5,"Oct 22, 2001",Sony,5.0
1000,97,Tony Hawk's Pro Skater 3,PS2,7.5,"Oct 28, 2001",Sony,5.0
1,97,Grand Theft Auto V,X360,8.3,"Sep 17, 2013",Microsoft,5.0
1165,97,Super Mario Galaxy,WII,9,"Nov 12, 2007",Nintendo,5.0
1401,97,Tony Hawk's Pro Skater 2,DC,6.2,"Nov 6, 2000",Sega,5.0
1402,97,Perfect Dark,N64,8.9,"May 22, 2000",Nintendo,5.0
1403,97,NFL 2K1,DC,6.4,"Sep 7, 2000",Sega,5.0
56,97,Grand Theft Auto V,XONE,7.8,"Nov 18, 2014",Microsoft,5.0
743,97,Super Mario Galaxy 2,WII,9.1,"May 23, 2010",Nintendo,5.0
356,97,Super Mario Odyssey,Switch,8.9,"Oct 27, 2017",Nintendo,5.0
0,97,Grand Theft Auto V,PS3,8.3,"Sep 17, 2013",Sony,5.0
67,97,Grand Theft Auto V,PS4,8.3,"Nov 18, 2014",Sony,5.0

In [234]:
namegame = list()
console = list()
score = list()
company = list()

# se recorre dataframe df_companies para obtener los valores unicos de consolas e ir filtrando en lam iteracion

df_res = df.query('userscore != "tbd"').sort_values(['metascore','console'], ascending = False)
df_res['ranking'] = df_res['metascore'].rank(method='min', ascending = True)
df_res = df_res.sort_values('ranking', ascending = True).rename(columns={'console':'name_console', 'metascore':'score', 'company': 'name_company'})
df_res = df_res.query("ranking <= 10")
df_res.to_csv('peores10juegos_'+str(today)+'.csv', sep="|", index = False)
df_res.head(100)

,score,name_game,name_console,userscore,date,name_company,ranking
12836,11,Family Party: 30 Great Games Obstacle Arcade,WIIU,1,"Dec 4, 2012",Nintendo,1.0
12641,16,Ride to Hell: Retribution,PC,1.2,"Jun 24, 2013",PC,2.0
15646,17,Vroom in the Night Sky,Switch,3.1,"Apr 5, 2017",Nintendo,3.0
15445,17,Yaris,X360,4.2,"Oct 10, 2007",Microsoft,3.0
12640,17,Double Dragon II: Wander of the Dragons,X360,1.5,"Apr 5, 2013",Microsoft,3.0
15411,17,Leisure Suit Larry: Box Office Bust,PS3,1.9,"May 5, 2009",Sony,3.0
15241,18,SPOGS Racing,WII,3.6,"Jul 7, 2008",Nintendo,7.0
14083,19,Alone in the Dark: Illumination,PC,1.2,"Jun 11, 2015",PC,8.0
12639,19,Ride to Hell: Retribution,X360,1.2,"Jun 25, 2013",Microsoft,8.0
15444,20,Deal or No Deal,DS,2,"Jul 23, 2007",Nintendo,10.0
15410,20,Leisure Suit Larry: Box Office Bust,PC,2.3,"Mar 31, 2009",PC,10.0
12835,20,Infestation: Survivor Stories The War Z,PC,1.7,"Oct 15, 2012",PC,10.0

In [183]:
df_res.head(10).sort_values('max_rank',  ascending = True)

,metascore,name_game,console,userscore,date,company,max_rank
200,98,Red Dead Redemption 2,XONE,5.9,"Oct 26, 2018",Microsoft,4.0
1301,98,Grand Theft Auto IV,X360,7.9,"Apr 29, 2008",Microsoft,4.0
1300,98,Grand Theft Auto IV,PS3,7.5,"Apr 29, 2008",Sony,4.0
1400,98,Tony Hawk's Pro Skater 2,PS,7.4,"Sep 20, 2000",Sony,4.0
56,97,Grand Theft Auto V,XONE,7.8,"Nov 18, 2014",Microsoft,20.0
1002,97,Halo: Combat Evolved,XBOX,8.6,"Nov 14, 2001",Microsoft,20.0
1,97,Grand Theft Auto V,X360,8.3,"Sep 17, 2013",Microsoft,20.0
743,97,Super Mario Galaxy 2,WII,9.1,"May 23, 2010",Nintendo,20.0
1165,97,Super Mario Galaxy,WII,9,"Nov 12, 2007",Nintendo,20.0
321,97,The Legend of Zelda: Breath of the Wild,Switch,8.5,"Mar 3, 2017",Nintendo,20.0

In [177]:
df_res.head(30).sort_values('userscore', ascending = False)

,metascore,name_game,console,userscore,date,company
2300,97,Metroid Prime,GC,9.2,"Nov 17, 2002",Nintendo
743,97,Super Mario Galaxy 2,WII,9.1,"May 23, 2010",Nintendo
1803,96,Resident Evil 4,PS2,9,"Oct 25, 2005",Sony
1165,97,Super Mario Galaxy,WII,9,"Nov 12, 2007",Nintendo
1402,97,Perfect Dark,N64,8.9,"May 22, 2000",Nintendo
878,96,Uncharted 2: Among Thieves,PS3,8.9,"Oct 13, 2009",Sony
1175,96,BioShock,X360,8.9,"Aug 21, 2007",Microsoft
356,97,Super Mario Odyssey,Switch,8.9,"Oct 27, 2017",Nintendo
766,96,Mass Effect 2,X360,8.9,"Jan 26, 2010",Microsoft
1003,96,Metal Gear Solid 2: Sons of Liberty,PS2,8.8,"Nov 12, 2001",Sony
1176,96,The Orange Box,X360,8.8,"Oct 10, 2007",Microsoft
238,96,Batman: Arkham City,PS3,8.7,"Oct 18, 2011",Sony
1002,97,Halo: Combat Evolved,XBOX,8.6,"Nov 14, 2001",Microsoft
249,96,The Elder Scrolls V: Skyrim,X360,8.5,"Nov 11, 2011",Microsoft
1001,97,Grand Theft Auto III,PS2,8.5,"Oct 22, 2001",Sony
321,97,The Legend of Zelda: Breath of the Wild,Switch,8.5,"Mar 3, 2017",Nintendo
0,97,Grand Theft Auto V,PS3,8.3,"Sep 17, 2013",Sony
67,97,Grand Theft Auto V,PS4,8.3,"Nov 18, 2014",Sony
1,97,Grand Theft Auto V,X360,8.3,"Sep 17, 2013",Microsoft
357,96,The Legend of Zelda: Breath of the Wild,WIIU,8.2,"Mar 3, 2017",Nintendo
1654,96,Grand Theft Auto Double Pack,XBOX,8,"Oct 31, 2003",Microsoft
1301,98,Grand Theft Auto IV,X360,7.9,"Apr 29, 2008",Microsoft
56,97,Grand Theft Auto V,XONE,7.8,"Nov 18, 2014",Microsoft
201,97,Red Dead Redemption 2,PS4,7.7,"Oct 26, 2018",Sony
1000,97,Tony Hawk's Pro Skater 3,PS2,7.5,"Oct 28, 2001",Sony
1300,98,Grand Theft Auto IV,PS3,7.5,"Apr 29, 2008",Sony
1400,98,Tony Hawk's Pro Skater 2,PS,7.4,"Sep 20, 2000",Sony
1403,97,NFL 2K1,DC,6.4,"Sep 7, 2000",Sega
1401,97,Tony Hawk's Pro Skater 2,DC,6.2,"Nov 6, 2000",Sega
200,98,Red Dead Redemption 2,XONE,5.9,"Oct 26, 2018",Microsoft

In [166]:
for index, row in df_res.iterrows():
    namegame.append(row.name_game)
    console.append(row.console)
    score.append(row.metascore)
    company.append(row.company)
df_resultado = pd.DataFrame({'name_game': namegame, 'name_console': console, 'score': score, 'name_company': company})

,name_game,name_console,score,name_company
0,Red Dead Redemption 2,XONE,98,Microsoft
1,Grand Theft Auto V,XONE,97,Microsoft
2,Metal Gear Solid V: The Phantom Pain,XONE,95,Microsoft
3,Celeste,XONE,94,Microsoft
4,INSIDE,XONE,93,Microsoft
5,Divinity: Original Sin II - Definitive Edition,XONE,93,Microsoft
6,What Remains of Edith Finch,XONE,92,Microsoft
7,Forza Horizon 4,XONE,92,Microsoft
8,Dead Cells,XONE,91,Microsoft
9,Overwatch,XONE,91,Microsoft

In [252]:
namegame = list()
console = list()
score = list()
company = list()
userscore_l = list()
date_l = list()
ranking_l = list()

# se recorre dataframe df_companies para obtener los valores unicos de consolas e ir filtrando en lam iteracion
for i in df_companies['console']:
    df_res = df.query(f"""console == '{i}'""")
    df_res = df_res.query('userscore != "tbd"').sort_values('metascore', ascending = False)
    meta_score = list()
    # se obtienen los mayores 10 score y se guarda en un arreglo
    for j in df_res['metascore'].unique():
        if len(meta_score) == 10:
            break
        else:
            meta_score.append(j)
    # se utiliza el arreglo de meta_score para obtener el minimo y maximo en el filtro
    df_res = df_res.query(f'metascore >= {min(meta_score)} and metascore <= {max(meta_score)}').sort_values('metascore', ascending = False)
    df_res["ranking"] = df_res["metascore"].rank(method ='dense', ascending = False)
    # se recorre dataframe y se agregan a listas creadas
    for index, row in df_res.iterrows():
        namegame.append(row.name_game)
        console.append(row.console)
        score.append(row.metascore)
        company.append(row.company)
        userscore_l.append(row.userscore)
        date_l.append(row.date)
        ranking_l.append(row.ranking)

# creacion de dataframe con el total de informacion
df_resultado = pd.DataFrame({'score': score, 'name_game': namegame, 'name_console': console,'userscore': userscore_l, 'date': date_l, 'name_company': company, 'ranking': ranking_l })

# exportar resultado a csv separados por pipe
#df_resultado.to_csv(url_datos_resultados+mejores10juegos_consola_empresa, sep="|", index = False)

In [253]:
df_resultado.head(100)

,score,name_game,name_console,userscore,date,name_company,ranking
0,94,The Legend of Zelda: Ocarina of Time 3D,3DS,9,"Jun 19, 2011",Nintendo,1.0
1,92,Fire Emblem: Awakening,3DS,9.1,"Feb 4, 2013",Nintendo,2.0
2,91,The Legend of Zelda: A Link Between Worlds,3DS,9,"Nov 22, 2013",Nintendo,3.0
3,90,Pushmo,3DS,8.3,"Dec 8, 2011",Nintendo,4.0
4,90,Shovel Knight,3DS,8.3,"Jun 26, 2014",Nintendo,4.0
...,...,...,...,...,...,...,...
95,85,Final Fantasy IV,DS,8.8,"Jul 21, 2008",Nintendo,9.0
96,85,Pokemon Diamond Version,DS,8,"Apr 22, 2007",Nintendo,9.0
97,85,Pokemon Pearl Version,DS,7.6,"Apr 22, 2007",Nintendo,9.0
98,85,Metroid Prime: Hunters,DS,8.1,"Mar 20, 2006",Nintendo,9.0
99,85,Professor Layton and the Curious Village,DS,8.5,"Feb 10, 2008",Nintendo,9.0

In [247]:
namegame = list()
console = list()
score = list()
company = list()
userscore_l = list()
date_l = list()


# se recorre dataframe df_companies para obtener los valores unicos de consolas e ir filtrando en lam iteracion
for i in df_companies['console']:
    df_res = df.query(f"""console == '{i}'""")
    df_res = df_res.query('userscore != "tbd"').sort_values('metascore', ascending = True)
    meta_score = list()
    for j in df_res['metascore'].unique():
        if len(meta_score) == 10:
            break
        else:
            meta_score.append(j)
    df_res = df_res.query(f'metascore >= {min(meta_score)} and metascore <= {max(meta_score)}').sort_values('metascore', ascending = False)
    for index, row in df_res.iterrows():
        namegame.append(row.name_game)
        console.append(row.console)
        score.append(row.metascore)
        company.append(row.company)
        userscore_l.append(row.userscore)
        date_l.append(row.date)

# creacion de dataframe con el total de informacion
df_resultado = pd.DataFrame({'score': score, 'name_game': namegame, 'name_console': console,'userscore': userscore_l, 'date': date_l, 'name_company': company})

# exportar resultado a csv separados por pipe
#df_resultado.to_csv(url_datos_resultados+peores10juegos_consola_empresa, sep="|", index = False)

In [249]:
df_resultado["Rank"] = df_resultado["score"].rank(method ='dense', ascending = False)

In [250]:
df_resultado.head(100)

,score,name_game,name_console,userscore,date,name_company,Rank
0,45,Rodea the Sky Soldier,3DS,5.6,"Nov 10, 2015",Nintendo,20.0
1,44,Combat of Giants: Dinosaurs 3D,3DS,5.3,"Mar 27, 2011",Nintendo,21.0
2,44,Johnny Kung Fu,3DS,4.9,"Jul 12, 2012",Nintendo,21.0
3,43,Asphalt 3D,3DS,4.3,"Mar 22, 2011",Nintendo,22.0
4,43,Pac-Man Party 3D,3DS,5.4,"Nov 8, 2011",Nintendo,22.0
...,...,...,...,...,...,...,...
95,16,Ride to Hell: Retribution,PC,1.2,"Jun 24, 2013",PC,49.0
96,51,Twisted Metal Small Brawl,PS,7.5,"Nov 26, 2001",Sony,14.0
97,51,007 Racing,PS,4.7,"Nov 20, 2000",Sony,14.0
98,51,Evil Dead: Hail to the King,PS,6.3,"Dec 4, 2000",Sony,14.0
99,51,Blade,PS,8.7,"Nov 23, 2000",Sony,14.0

In [254]:
df_res = df.query('userscore != "tbd"').sort_values(['metascore'], ascending = False)
# se utiliza metodo rank para rankiar a los mejores juegos
df_res['ranking'] = df_res['metascore'].rank(method='dense', ascending = False)
df_res = df_res.sort_values('ranking', ascending = True).rename(columns={'console':'name_console', 'metascore':'score', 'company': 'name_company'})
df_res = df_res.query("ranking <= 10")
#df_res.to_csv(url_datos_resultados+mejores10juegos, sep="|", index = False)

,score,name_game,name_console,userscore,date,name_company,ranking
200,98,Red Dead Redemption 2,XONE,5.9,"Oct 26, 2018",Microsoft,1.0
1300,98,Grand Theft Auto IV,PS3,7.5,"Apr 29, 2008",Sony,1.0
1301,98,Grand Theft Auto IV,X360,7.9,"Apr 29, 2008",Microsoft,1.0
1400,98,Tony Hawk's Pro Skater 2,PS,7.4,"Sep 20, 2000",Sony,1.0
201,97,Red Dead Redemption 2,PS4,7.7,"Oct 26, 2018",Sony,2.0
...,...,...,...,...,...,...,...
2304,94,Tony Hawk's Pro Skater 4,PS2,8.4,"Oct 23, 2002",Sony,5.0
1007,94,Madden NFL 2002,PS2,7.4,"Aug 19, 2001",Sony,5.0
1009,93,Paper Mario,N64,9.1,"Feb 5, 2001",Nintendo,6.0
1505,93,Tom Clancy's Splinter Cell Pandora Tomorrow,XBOX,8.6,"Mar 23, 2004",Microsoft,6.0
1506,93,Unreal Tournament 2004,PC,8.8,"Mar 16, 2004",PC,6.0